<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SMSConnectionString" connectionString="server=.;database=SMS;user id=AppUser;password=AppLoginPassword123!;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>